                                        /* Post Content Area*/
.post {
  display: grid;
  grid-template-areas: 
  "hd"
  "cont"
  "ft";
}

/*Hero Image*/
.hero {
  grid-area: hero;
  display: grid;
  justify-content: center;
  align-items: center;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/*Media Info*/
.wrapper {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
 
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "cover art art"
  "details art art";
} 
.cover {
  grid-area: cover;
  display: flex;
  justify-content: center;
  align-items: center;  
  max-width: 100%;
}

.cover img {  
  object-fit: cover;
  height: auto;
  width: 100%;
}

.details {
  grid-area: details;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-evenly;  
  padding-left: 15%;
  font-family: "montserrat", sans-serif;
}

.details strong {
  font-family: "cabin", sans-serif;
}

/*Post Content*/

.article {
  grid-area: art;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  grid-gap: 25px;
  border-left: 5px solid #febd2f;  
}

.article-info {  
  display: flex;
  flex-direction: column;
  grid-gap: 20px;      
}

.wrapper h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #000;
}

.article p {
  font-family: "montserrat", sans-serif;
   text-indent: 50px;
 }

blockquote {
  grid-column: 1 / -1;
  font-size: 50px;
  font-style: italic;
  color: #666;
  text-align: center;
  margin: 0;
}



/*Media Queries*/ 
/*Small Screens*/
@media(max-width: 600px){
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 8fr .1fr;
    grid-template-areas: 
    "header"
    "main "
    "ft ";    
    width: 100%;
    grid-gap: 20px;   
  }

  .header {    
    display: flex;
    grid-template-areas:
    "logo"
    "nav"
    "sub";
    flex-direction: column;  
  }

  .nav ul {
    font-size: 1rem;
    font-weight: 200;
  }

  .wrapper {
    grid-template-areas:
    "art"
    "details"
    "cover";
    flex-direction: row;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr .5fr .5fr;  
    /* min-height: auto;   */
  }

  .details {
    padding-left: 0;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;    
  }
}

/*Medium Screens*/

@media(min-width: 601px) and (max-width: 901px) {
 .cover {
  border-bottom: 2px solid #000;
 }

 .wrapper {
  display: grid;
  grid-template-columns: 4fr 6fr;
 }
}
