/* Main Content Area*/
* {
  padding: 0;
  margin: 0;
 }
  .main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*content cards*/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    padding-top: 5px;
    border-radius: 10px;
    padding-top: 10px;
  } 

  /*Card Image and Caption*/
    figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;}

  .card-image {
    object-fit: cover;
    max-width:90%;
    height: auto;
    border: 2px solid #000;    
  } 

  figcaption {
    text-align: end;
    font-style: italic;
    font-size: .7rem;
    width: 80%;
  }
  /*Card Content*/
  .card-body {
    display: flex;
    flex-direction: column;    
    align-items: center;      
    font-family: "montserrat", sans-serif;
    gap: 1rem;
    
  }

  .tag {
    align-self: flex-start;  
    border-radius: 1em;
    font-family: "bebas neue", sans-serif;
    font-size: 1rem;
    
  }
/*Link "button"*/
  .frame {
    font-weight: bold;
    color: #000;
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  .frame:hover {
    color: #febd2f;
  }

  /*Card Footer*/

  .card-footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
    gap: 1rem;
    align-items: center;
  }
  
  .user {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
   
     }
  
  .user img {
    border-radius: 50%;
    height: 50px;
    width: 50px;    
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 1rem;
    font-family: "montserrat", sans-serif;
    color: #666;
  }  
  .user h4 {
    font-weight: bold;
    color: #000;
  }
  
  .userInfo > small {
    font-family: "montserrat", sans-serif;
    color: #666;
  }

                        /* Sidebar */
.sidebar {
    grid-area: sd;
}

/*Best List*/
.nestedGrid {  
  display: grid;
  border-bottom: 2px solid #000;
  padding: 25px;
}

.nestedGrid h3 {
  font-family: "roboto", sans-serif;
  text-align: center;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap:  20px;
  align-items: center;
}
/*Yellow Line*/
.nestedGrid h3::before, .nestedGrid h3::after {
  content: "";
  display: block;
  background: #ffc600;
  height: 10px;
  background: linear-gradient(to var(--direction, left), #ffc600, transparent);
  }

  .nestedGrid h3:after {
   --direction: right;
  }

.nestedGrid ol {
  font-family: "montserrat", sans-serif;
  padding: 10px;  
}

.nestedGrid a {
  text-decoration: none;
  color: #000;
}

  
                            /*Media Queries*/
/*Small Screens*/
@media(max-width: 600px) {
  .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr ;
      grid-template-areas: 
      "hd"
      "main "
      "sd"
      "ft ";
      grid-gap: 1rem;
      width: 100% ;
  }

  .header{
      flex-direction: column;
  }

  .header h1 {
      font-size: 2rem;
      padding-top: 1rem;
  }

  .header .socials {
      width:100%;
      justify-content: space-around;
  }

  .card-body, .card-footer {
    width: 90%;
}
}

/*Medium Screens*/
@media(min-width: 601px) and (max-width: 901px) {
  .container {
      display: grid;
      flex-direction: column;
      grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 2fr auto 1fr;
      grid-template-areas:
        "hd hd hd hd hd"
        "main main main sd sd "
        "ft ft ft ft ft";
          gap: 5px;

  }

  .header{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr ;
      grid-template-areas: 
      "lg nv"
       "lg sb";
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
  }

  .header h1 {
      font-size: 2.5rem;
      padding-left: 5px;
  }

  ul {
    font-size: 1em;
  }

  .header span {
      width: 100%;
      justify-content: center;
  }

  .card-body, .card-footer {
    width: 90%;
}

  .card-image {
    max-width: 100%;
  }
  
}

/*Large Screens*/
@media(min-width: 902px) {
  .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: .5fr 9fr .5fr;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "main main main main main sd sd sd "
      "ft ft ft ft ft ft ft ft";
      grid-gap: 1rem;   
  }

  .header h1{
      font-size: 3rem;} 

  .card-body, .card-footer {
      width: 50%;
  }


}